@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('glyphicons-halflings-regular.ttf') format('truetype');
}

/*POSTS*/

.post {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 70px;
}

.post article {
	/*border: 1px dotted black;*/
	padding: 20px;
	margin: 5px;
}

.post-date {
	float: right;
}

.post-user-id {
	float: left;
}

.post-title {
	text-align: left;
}

small {
	float: right;
}

.container {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-left: 25px;
}

.jumbotron {
  	margin-left: -25px;
	border: 1px dotted black;
}

.homePosts {
	margin-bottom: 100px;
}

.breadcrumb {
	background-color: inherit;
}


.btn-group {
	margin: 25px;
	margin-left: 500px;
}

form {
	width: 400px;
}

body {
	padding-top: 70px;
}

.navbar-header img {
	width: 50%;
	margin: 0 auto;
}

.failLoginMsg, .inactiveUserMsg {
	display: table;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px dotted black;
}

.failLoginMsg a, .inactiveUserMsg a {
	margin-left: 20px;
	float: right;
}

.login {
	display: table-cell;
	position: relative;
	width: 50%;
	overflow: hidden;
	border: 1px solid black;
	padding: 100px;
}

.register {
	display: table-cell;
	position: relative;
	width: 50%;
	overflow: hidden;
	border: 1px solid black;
	padding: 100px;
}



