<div class="login">
	<form>
		<label>Returning Visitor</label>
		<p>Login with Whirlwind account</p>
		<button class="btn btn-primary btn-lg btn-block" ng-click="login()">Login</button>
	</form>
	<div ng-repeat="user in loginCtrl.users">
		<p>Email: </p>{{ user.email }} </br>
		<p>First Name: </p>{{ user.firstName }} </br>
		<p>Last Name: </p>{{ user.lastName }} </br>
		<p>Account Status: </p>{{ user.status }} </br>
		<p>User ID: </p>{{ user.userId }} </br>
		<p>User Type: </p>{{ user.userType }} </br>
	</div>
</div>

<div class="register">
	<form ng-submit="register()">
		<label>Create an Account</label>
		<p>Create a new account with Whirlwind email</p>
  		<label>Email</label>
		<input type="text" class="ng-pristine ng-valid">
		<button class="btn btn-primary">Register</button>
  	</form>
</div>
